@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Alpha Lyrae';
  src: url('/fonts/AlphaLyrae-Medium.ttf') format('truetype');
}

.alpha {
  font-family: 'Alpha Lyrae';
}

.gradient {
  background: rgb(246, 29, 29);
  background: linear-gradient(
    90deg,
    rgba(246, 29, 29, 1) 0%,
    rgba(230, 250, 149, 1) 47%,
    rgba(246, 185, 29, 1) 100%
  );
}

ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: '-';
  text-indent: -5px;
}

.noise:after {
  background-image: url('/images/noise.png');
  content: '';
  width: 300%;
  height: 300%;
  position: fixed;
  top: -50%;
  left: -50%;
  animation: noise 1s infinite;
}

@keyframes noise {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%);
  }
  70% {
    transform: translateY(10%);
  }
  80% {
    transform: translate(-15%);
  }
  90% {
    transform: translate(10%, 5%);
  }
  to {
    transform: translate(5%);
  }
}
